/* Стилизация аккордеона */
.accordion {
    max-width: 730px;
}

.accordion__item {
    padding: 24px 32px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

.accordion__item:not(:last-child) {
    margin-bottom: 8px;
}

.accordion__summary {
    font-family: Inter, sans-serif;
    line-height: 24px; 
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__details-text {
    font-family: Inter, sans-serif;
    line-height: 24px; 
    font-size: 16px;
    font-weight: 400;
}