/* Стилизация аккордеона */
.accordion {
    width: 730px;
}

.accordion__item {
    padding: 24px 32px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

.accordion__item:not(:last-child) {
    margin-bottom: 8px;
}

.accordion__summary::marker{
    content: "";
}