.toggler {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.toggler__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.toggler__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.toggler__control {
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 16px;
    box-sizing: border-box;
    width: 52px;
    height: 28px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.toggler__icon rect{
    fill: var(--grey-2);
}

.toggler__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state
.toggler__control {
    justify-content: end;
    border: 2px solid var(--blue-1);
    background: var(--blue-1);
}

.toggler__input:checked ~ .toggler__state
.toggler__icon rect{
    fill: var(--white);
}

.toggler__input:disabled ~ .toggler__state
.toggler__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
    cursor: not-allowed;
}

.toggler__input:disabled ~ .toggler__state
.toggler__title {
    cursor: not-allowed;
}

.toggler__input:disabled ~ .toggler__state
.toggler__icon rect{
    fill: var(--grey-3);
}

.toggler__input:focus ~ .toggler__state
.toggler__title {
    text-decoration: underline;
}

