.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--grey-5);
}

.modal__window {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px 40px;
    width: 428px;
    box-sizing: border-box;
    background: var(--white);
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.modal__cross {
    position: absolute;
    right: 12px;
    top: 12px;
}

.modal__cross:hover {
    cursor: pointer;
}

.modal__title {
    font-family: Inter, sans-serif;
    line-height: 24px; 
    font-size: 20px;
    font-weight: 600;
}

.modal__text {
    font-family: Inter, sans-serif;
    line-height: 24px; 
    font-size: 16px;
    font-weight: 400;
}
