* {
    margin: 0;
}

.header {
    background-color: red;
    color: white;
    text-align: center;
}

.header__title {
   padding: 20px 0; 
}

.nav {
    padding: 10px;
    background-color: orange;
    text-align: center;
}

.nav__link {
    padding-left: 10px;
    font-size: 1.5rem;
    color: white;
}

.main {
    padding: 10px;
    background-color: #04a242;
}

.article {
    margin-bottom: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
}

.article__title {
   margin: 20px 0; 
}

.article__list {
    margin-bottom: 15px;
}

.footer {
    padding: 10px;
    background-color: #bd00ff;
    text-align: center;
    font-size: 2rem;
    color: white;
}