.histogram {
    padding: 16px 24px 24px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 39px;
}

.histogram_component-page {
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

@media screen and (min-width: 600px) {
    .histogram {
        border: 1px solid var(--grey-3);
        box-sizing: border-box;
        border-radius: 8px;
    }
}

.historam__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.histogram__caption {
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__value {
    margin: 6px 0 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__link {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-1);
    text-decoration: none;
}

.histogram__chart {
    height: 50px;
    display: flex;
    gap: 1px;
    align-items: flex-end;
}

.histogram__column {
    max-width:100px;
    flex-basis: 9px;
    flex-grow: 1;
    background: var(--blue-1);
}