@import 'normalize.css';
@import '../fonts/fonts.css';

@import '../../03-lection1/01-button/button.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --blue-1: #4263EB;
    --blue-2: #374FC7;
    --blue-3: #334D6E;
    --blue-4: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F9FAFC;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: rgba(196, 196, 196, 0.5);
    --grey-gradient-1: #E2E6E8; 
    --grey-gradient-2: #F3F5F5; 
    --grey-gradient-3: #E3E7EA;
    --grey-blue: #90A0B7;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue-1);
    --primary-hover: var(--blue-2);
    --secondary: var(--purple-1);
    --secondary-hover: var(--purple-2);
}

html, body {
    height: 100%;
}
