.preview {
    background-color: var(--grey-bg);
}

.prewiew__inner {
    padding: 22px 15px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}


@media screen and (min-width: 600px) {
    .preview {
        height: 1036px;
    }

    .prewiew__inner {
        padding: 68px 0 92px;
        gap: 30px;
    }
}